@tree-default-color: #333;
@tree-default-border: #ddd;
@tree-boder-radius: 4px;
@tree-padding-vertical: 6px;
@tree-padding-horizontal: 12px;
@tree-margin-top: 5px;
@tree-margin-bottom: 5px;
@tree-hover-color: #f5f5f5;

@tree-icon-folder-close: "\e117";

@tree-checkbox-margin-right: -(@tree-padding-horizontal + 14px);
@tree-checkbox-a-padding-left: (2 * @tree-padding-horizontal + 14px);
@tree-checkbox-a-checked-color: #ffffff;
@tree-checkbox-a-checked-background-color: #428bca;
@tree-checkbox-a-checked-border: #428bca;
@tree-checkbox-a-checked-hover-color: darken(@tree-checkbox-a-checked-background-color, 10%);

@tree-input-invalid-border: #b94a48;

.tree {
	li {
		list-style-type: none;
		&.tree-collapse ul {
			display: none;
		}
	}

	a {
		&:link,
		&:visited,
		&:hover,
		&:active {
			text-decoration:none;
		}
	}
}

.tree-default {
	a {
		color: @tree-default-color;
		display: inline-block;
		border: 1px @tree-default-border solid;
		border-radius: @tree-boder-radius;
		padding: @tree-padding-vertical @tree-padding-horizontal;
		margin-top: @tree-margin-top;
		margin-bottom: @tree-margin-bottom;
		&:hover {
			background-color: @tree-hover-color;
		}

		span {
			margin-right: 1em;
		}
	}

	li {
		&.tree-collapse > a > span:before {
			content: @tree-icon-folder-close;
		}
	}
}

.tree-checkbox {
	a {
		padding-left: @tree-checkbox-a-padding-left;
	}

	input[type="checkbox"] {
		position: relative;
		margin-right: -26px;
		z-index: 99;
	}

	input[type="checkbox"]:checked + a {
		color: @tree-checkbox-a-checked-color;
		background-color: @tree-checkbox-a-checked-background-color;
		border: 1px @tree-checkbox-a-checked-border solid;
		&:hover {
			background-color: @tree-checkbox-a-checked-hover-color;
		}
	}
}


.tree {
	input.has-error {
		border-color: @tree-input-invalid-border;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
}

#tree-dropdown {
	position: absolute;
}